<% content_for :title do %>
  Meal Tracker &ndash;  <%= DateTime.now() %>
<% end %>



<div class="columns mt-6 is-centered" id="entries">
  <% @entries.each do |entry| %>
  <div class="column is-one-quarter" >
    
    <%= render entry %>
    
      <%= link_to "Show this entry", entry %>
   
   
    </div>
  <% end %>
</div>

<%# <%= link_to "New entry", new_entry_path %>
