<% content_for :title do %>
  Meal Tracker &ndash;  <%= DateTime.now.to_formatted_s(:nice_date) %>
<% end %>



<div class="columns mt-6 is-centered" id="entries">
  <% @entries.each do |entry| %>
  <div class="column is-one-quarter" >
    
    <%= render entry %>
    
     
   
   
    </div>
  <% end %>
</div>


