<% content_for :title do %>
  Meal Tracker &ndash;  <%= DateTime.now.to_formatted_s(:nice_date) %>
<% end %>



<div class="columns mt-6 is-centered" id="entries">
  <% @entries.each do |entry| %>
  <div class="column is-one-quarter" >
    
    <%= render entry %>
    
     
   
   
    </div>
  <% end %>
  
</div>
<div class="columns is-centered">
   <%= link_to 'Crate new entry', new_entry_path, class: "button is-success"  %>
</div>

<div class="columns is-centered mt-6">
  <%= link_to "View All Entries", archive_index_path, class: "button is-info is-outlined is-centered"%>
</div>
