<% content_for :title do %>

<%= @entry.meal_type %> &ndash; <%= DateTime.now.to_formatted_s(:nice_date) %>

<% end %>
<div class="mt-2 columns mt-6 is-centered" >
<%= render @entry %>
</div>
<br>
<div class=" columns  is-centered" >
 

  <%=  button_to "Delete", @entry, method: :delete, class: "button is-danger mt-4 " %>
</div>

