<section class="hero   has-background-success-light is-small">
  <!-- Hero head: will stick at the top -->
  <div class="hero-head">
    <header class="navbar ">
      <div class="container">
        <div class="navbar-brand">
          <%= link_to root_path, class: "navbar-item" do %>
            <strong class="has-text-weight-bold is-size-2 ml-4">🥘 Meal Tracker</strong>
          <% end %>
        </div>
        <div class="hero-head  ">
   
  </div>
        <div id="navbarMenuHeroC" class="navbar-menu">
          <div class="navbar-end">
           <span class='navbar-item' >
           <%= link_to 'Crate new entry', new_entry_path, class: "button is-success"  %>
                
           
            
            </span>
          </div>
        </div>
      </div>
    </header>
  </div>

  <!-- Hero content: will be in the middle -->



</section>